.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******************** NAV LINKS ***************************/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
:root{
  --whitecolor : #fff;
  --electricblue : #7df9ff;
  --graybordertop : rgba(255,255,255,0);
}

body{
  font-family: "Crimson Text", sans-serif !important;
}

nav{
  z-index: 2;
}
nav a.nav-link{
  font-weight: 200;
  font-size: medium;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--whitecolor) !important;
  border-top: 3px solid var(--graybordertop);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus{
  border-top: 3px solid var(--electricblue );
} 

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--electricblue );
}
/******************** header ***************************/
.header-wraper{
  position: relative;
  background: url(altumcode-dMUt0X3f59Q-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color: var(--electricblue);
  text-transform: uppercase;

}
@media(max-width: 768px){
  .main-info h1{
    font-size: 1.75rem !important;
  }
}

/******************** typed ***************************/
.typed-text {
  font-size: 2rem;
  color: rgb(24, 216, 88);

}

/******************** HEADER MAIN OFFER BUTTON ***************************/
.btn-main-offer {
  border: 1px solid var(--electricblue);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--whitecolor);
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color:var(--electricblue);
  color: black;
  transition: .2s ease-in-out;
}
/******************** Particles***************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
@media(max-width: 768px){
  .particles-canvas {
    display: none;
  }
}

/******************** About Me ***************************/

.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 28rem;
  border-radius:50%;
  padding: .3rem;
  border: 1px solid green;
}

.aboutMeHeading{
  text-transform: uppercase;
  color: darkcyan;
}

.aboutPara{
  text-align: justify;
  
}

@media(max-width: 468px){
  .profile-img{
    width: 10rem;
  }
}